body{
    display: flex;
    justify-content: center;
    background-color: #0C0C0C;
}

p{
    display: inline-block;
    font-size: 30px;
    width: 70%;
    color: black;
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    
}
button{
    background-color: #7FA1C3;
    border-color: #6482AD;
    border-radius: 20px;
    width: 125px;
    font-size: 20px;
    color: #E2DAD6;
    border: none;
    cursor: pointer;
}
.main{
    margin-top: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: #481E14;
    width: 50%;
    padding-left: 10px;
    padding-bottom: 10px;
}
h1{
    padding-left: 30%;
    color: #F5EDED;
}
.task-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    background-color: white;
}
.task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
#task{
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: none; 
    overflow: hidden; 
    white-space: pre-wrap; 
}





